<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="General">
		<!---setting label="Fancy User Interface Options" type="lsep"/>
		<setting label="Alternative browser layout (does not affect all skins)" type="bool" id="alt_browser_layout" default="false"/>
		<setting label="Experimental User Interface Options" type="lsep"/>
		<setting label="Netflix view" type="bool" id="netflix_view" default="false"/>
		<setting label="Netflix view2 (Only Info Screens?)" type="bool" id="netflix_info_view" default="false"/>
		<setting label="Automatically play trailers (affects only Netflix view)" type="bool" enable="eq(-1,true)" id="autoplay_trailer"/--->
		<setting id="xtreme_codes.password" type="text" label="xtreme_codes_password" default="" />
		<setting id="xtreme_codes.username" type="text" label="xtreme_codes_username" default="" />
		<setting id="xtreme_codes.base_url" type="text" label="xtreme_codes_server_path" default="http://name.server.xyz:80/" />
		<setting id="xtreme_sport_categories" type="text" label="xtreme_sport_categories" default="Formula1,MotoGP,Boxing,EPL,UFC,Sport" />
		<setting label="Lookup subtitles on playback" type="bool" id="subtitle_lookup" default="false"/>
		<setting label="Get Lists of Channel Names and Group Names saved to PasteBin" type="lsep"/>
		<setting label="output_lists_pastebin" type="action" action="RunScript(script.xtreme_vod,info=output_lists_pastebin)" visible="true"/>
		<setting label="Order Channels by providing list of channel names to sort to top" type="lsep"/>
		<setting label="save_channel_order" type="action" action="RunScript(script.xtreme_vod,info=save_channel_order)" visible="true"/>
		<setting label="Only include channels in allowed groups" type="lsep"/>
		<setting label="save_allowed_groups" type="action" action="RunScript(script.xtreme_vod,info=save_allowed_groups)" visible="true"/>
		<setting label="Generate XML+M3U" type="lsep"/>
		<setting label="generate_m3u_xml" type="action" action="RunScript(script.xtreme_vod,info=generate_m3u_xml)" visible="true"/>
		<setting label="Setup iptv simple settings" type="lsep"/>
		<setting label="setup_iptv_simple_settings" type="action" action="RunScript(script.xtreme_vod,info=setup_iptv_simple_settings)" visible="true"/>


		<setting label="List group names/partial names to include (non matching = EXCLUDE), comma separated" type="lsep"/>
		<setting label="Sort Channels File - 1 Channel per line" type="lsep"/>
		<setting label="Server  http://localhost:5000/m3u / http://localhost:5000/xml" type="lsep"/>
		<setting label="Auto start M3U/XMLTV server" type="bool" id="auto_start_server" default="false"/>
		<setting label="STOP Server  http://localhost:5000/stop" type="lsep"/>
		<setting label="Create Local XML/M3U Files" type="bool" id="local_xml_m3u" default="true"/>
		<setting label="Local XML/M3U Refresh period (hours - default = 8)" type="number" id="xml_m3u_sync_hours" default="8"/>
		<setting label="STARTUP_Create Local XML/M3U Files" type="bool" id="startup_local_xml_m3u" default="true"/>

		<setting label="STARTUP_Auto Open Screen" type="select" id="startup_option" values="None|VOD Movies|VOD TV|Trakt Watched TV|Trakt Watched Movies|Reopen Last" default="None"/>
		<setting label="TMDB Options" type="lsep"/>
		<!--setting label="Language" type="select" values="bg|cs|da|de|el|en|es|fi|fr|he|hr|hu|it|ja|ko|nl|no|pl|pt|ru|sl|sv|tr|zh" id="LanguageID" default="en"/>
		<setting label="Include adult?" type="bool" id="include_adults" default="false"/-->
		<setting label="TMDB API key" id="tmdb_api" type="text" default=""/>
		<setting label="Fanart API key" id="fanart_api" type="text" default=""/>
		<setting label="Fanart Clear Logo Lookups?" type="bool" id="fanart_clearlogos" default="false"/>
		<!--setting label="Settings button => TMDBHelper Context Menu/Addon Settings Menu?" type="lsep"/>
		<setting label="Info Dialog Settings Button" type="select" id="settings_user_config" values="TMDBHelper Context Menu|Settings Selection Menu" default="Settings Selection Menu"/--->
		<setting label="Trakt/Kodi Scrobbling with Scene filename parsing" type="lsep"/>
		<setting label="Enable Trakt/Kodi Scrobbling with PTN" type="bool" id="trakt_scrobble" default="true"/>
		<setting label="Reopen Last UI Screen After Playback Ends" type="bool" id="reopen_window_bool" default="false" visible="false" />
		<setting label="Trakt Watched History indicators on items" type="bool" id="trakt_watched_stats" default="true"/>
		<setting label="Create/Refresh Trakt Watched Data" type="action" action="RunScript(script.xtreme_vod,info=setup_trakt_watched)"/>
		<setting label="Use Context Menus in UI?" type="bool" id="context_menu" default="true"/>
		<setting label="Use Window Stack?" type="bool" id="window_stack_enable" default="true" visible="false"/>
		<setting label="Enable reopen window on playack fail within 90s" type="bool" id="reopen_play_fail" default="true"/>
		<setting label="Maintenance" type="lsep"/>
		<setting label="Clear cache..." type="action" action="RunScript(script.xtreme_vod,info=deletecache)"/>
		<setting label="Auto Clear cache (>14 days)" type="action" action="RunScript(script.xtreme_vod,info=auto_clean_cache)"/>
		<setting label="Auto Clear cache on startup?" type="bool" id="auto_clean_cache_bool" default="true"/>
		<setting label="Log Plugin URLS" type="bool" id="log_urls" default="false"/>
		<setting label="TEST ROUTE" type="action" action="RunScript(script.xtreme_vod,info=test_route)"/>
	</category>
	<category label="TOOLS">
	<setting label="setup_favourites" type="action" action="RunScript(script.xtreme_vod,info=setup_favourites)"/>
	<setting label="setup TMDBH player" type="action" action="RunScript(script.xtreme_vod,info=setup_players)"/>
	<setting label="patch_tmdb_helper" type="action" action="RunScript(script.xtreme_vod,info=patch_tmdb_helper)"/>
	<setting label="setup_iptv_simple_settings" type="action" action="RunScript(script.xtreme_vod,info=setup_iptv_simple_settings)" visible="true"/>
	<setting label="Create/Refresh Trakt Watched Data" type="action" action="RunScript(script.xtreme_vod,info=setup_trakt_watched)"/>
	<setting label="Clear cache..." type="action" action="RunScript(script.xtreme_vod,info=deletecache)"/>
	<setting label="Auto Clear cache (>14 days)" type="action" action="RunScript(script.xtreme_vod,info=auto_clean_cache)"/>
	<setting label="TEST ROUTE" type="action" action="RunScript(script.xtreme_vod,info=test_route)"/>
	</category>

	<category label="DOWNLOADS">


		<setting id="magnet_list"                type="text"   label="magnet_list" default="/home/osmc/.kodi/userdata/addon_data/script.xtreme_vod/magnet_list.txt"
                 enable="false"
                 visible="false"/>

        <setting id="magnet_list"                type="action" label="magnet_list"
                 action="RunScript(script.xtreme_vod,info=setmagnet_list)"/>

		<setting id="download_path"                type="text"   label="download_path" default="/home/osmc/Movies"
                 enable="false"
                 visible="false"/>

		<setting id="DOWNLOAD_FOLDER"                type="text"   label="DOWNLOAD_FOLDER" default="/home/osmc/Movies"
                 enable="false"
                 visible="false"/>
        <setting id="DOWNLOAD_FOLDER"                type="action" label="DOWNLOAD_FOLDER"
                 action="RunScript(script.xtreme_vod,info=setDownloadLocation)"/>

		<setting id="opensubtitles.password" type="text" label="open_subs_password" default="" visible="false"/>
		<setting id="opensubtitles.username" type="text" label="open_subs_username" default="" visible="false"/>
		<setting id="opensubtitles_org_username" type="text" label="open_subs_org_username" default="" />
		<setting id="opensubtitles_org_password" type="text" label="open_subs_org_password" default="" />
		<setting id="opensubtitles_com_username" type="text" label="open_subs_com_username" default="" />
		<setting id="opensubtitles_com_password" type="text" label="open_subs_com_password" default="" />
		<setting id="subdl.apikey" label="subdl_apikey" type="text" default=""/>
		<setting label="stop_downloader" type="action" action="RunScript(script.xtreme_vod,info=stop_downloader)"/>
		<setting label="run_downloader" type="action" action="RunScript(script.xtreme_vod,info=run_downloader)"/>
		<setting label="manage_download_list" type="action" action="RunScript(script.xtreme_vod,info=manage_download_list)"/>





	</category>

</settings>
