<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

<category label="Sources"> <!-- Sources -->
    <setting id="module.provider" type="text" label="Choose Module Scraper" default="Magneto" enable="false" />
    <setting type="action" label="Enable Magneto Default Providers" action="RunPlugin(plugin://script.module.magneto/?action=Defaults&amp;setting=true)" />
    <setting type="action" label="Enable All Providers" visible="false" action="RunPlugin(plugin://script.module.magneto/?action=toggleAll&amp;setting=true)" />
    <setting type="action" label="Disable All Providers" visible="false" action="RunPlugin(plugin://script.module.magneto/?action=toggleAll&amp;setting=false)" />
    <setting type="action" label="Enable All Torrent Providers" action="RunPlugin(plugin://script.module.magneto/?action=ShowHelp&amp;name=torrentInfo)" />
    <setting type="action" label="Disable All Torrent Providers" visible="false" action="RunPlugin(plugin://script.module.magneto/?action=toggleAllTorrent&amp;setting=false)" />
    <setting type="action" label="Enable Only Pack Capable Torrent Providers" visible="false" action="RunPlugin(plugin://script.module.magneto/?action=toggleAllPackTorrent)" />
    <setting type="action" label="[COLOR firebrick]-- torrent scraper Info --[/COLOR]" visible="false" action="RunPlugin(plugin://script.module.magneto/?action=ShowHelp&amp;name=torrentInfo)" />
    <setting label="Websites" type="lsep" />
    <setting id="provider.1337x" type="bool" label="$NUMBER[1337]X" default="false" />
    <setting id="provider.bitcq" type="bool" label="BITCQ (Pack capable)" default="false" />
    <setting id="provider.bitsearch" type="bool" label="BITSEARCH (Pack capable)" default="false" />
    <setting id="provider.eztv" type="bool" label="EZTV (Pack capable/Shows only)" default="false" />
    <setting id="provider.kickass2" type="bool" label="KICKASS2 (Pack capable)" default="false" />
    <setting id="provider.knaben" type="bool" label="KNABEN" default="false" />
    <setting id="provider.limetorrents" type="bool" label="LIMETORRENTS (Pack capable)" default="false" />
    <setting id="provider.nyaa" type="bool" label="NYAA" default="false" />
    <setting id="provider.piratebay" type="bool" label="PIRATEBAY (Pack capable)" default="true" />
    <setting id="provider.rutor" type="bool" label="RUTOR (Pack capable)" default="false" />
    <setting id="provider.torlock" type="bool" label="TORLOCK" default="false" />
    <setting id="provider.torrentdownload" type="bool" label="TORRENTDOWNLOAD (Pack capable)" default="true" />
    <setting id="provider.torrentfunk" type="bool" label="TORRENTFUNK (Pack capable)" default="false" />
    <setting id="provider.torrentproject2" type="bool" label="TORRENTPROJECT2 (Pack capable)" default="false" />
    <setting id="provider.torrentz2" type="bool" label="TORRENTZ2 (Pack capable)" default="false" />
    <setting id="provider.ytsmx" type="bool" label="YTSMX (Movies only)" default="false" />
    <setting label="Indexers" type="lsep" />
    <setting id="provider.comet" type="bool" label="COMET (Pack capable)" default="false" />
        <setting id="comet.url" label="comet instance" type="enum" default="0" values="Elfhosted|Midnightignite" subsetting="true" visible="eq(-1,true)" />
    <setting id="provider.mediafusion" type="bool" label="MEDIAFUSION (Pack capable)" default="false" />
        <setting id="mediafusion.url" label="mediafusion instance" type="enum" default="0" values="Elfhosted|Midnightignite" subsetting="true" visible="eq(-1,true)" />
    <setting id="provider.torz" type="bool" label="STREMTHRU TORZ P2P (Pack capable)" default="false" />
        <setting id="torz.url" label="torz instance" type="enum" default="0" values="Elfhosted|MunifTanjim" subsetting="true" visible="eq(-1,true)" />
    <setting id="provider.torrentio" type="bool" label="TORRENTIO (Pack capable)" default="true" />
    <setting id="provider.torrentsdb" type="bool" label="TORRENTSDB (Pack capable)" default="false" />
    <setting id="provider.zilean" type="bool" label="ZILEAN (Pack capable)" default="true" />
</category>

<category label="Prowlarr/Torznab"> <!-- Indexers -->
    <setting label="Prowlarr" type="lsep" />
    <setting id="provider.prowlarr" type="bool" label="PROWLARR (Pack capable)" default="false" />
        <setting id="prowlarr.token" type="text" label="PROWLARR apikey" subsetting="true" default="" visible="eq(-1,true)" />
        <setting id="prowlarr.url" type="text" label="PROWLARR url" subsetting="true" default="" visible="eq(-2,true)" />
    <setting label="TorBox" type="lsep" />
    <setting id="provider.tbtorznab" type="bool" label="TORBOX Torznab (Pack capable)" default="false" />
        <setting id="torbox.token" type="text" label="TORBOX apikey" subsetting="true" default="" visible="eq(-1,true)" />
</category>

<category label="Undesirables"> <!-- Undesirables -->
    <setting id="filter.foreign.single.audio" type="bool" label="Remove identified Foreign single audio sources" default="false" />
    <setting id="filter.undesirables" type="bool" label="Remove Undesirables" default="false" />
        <setting type="action" label="Manage Default Undesirables" subsetting="true" enable="eq(-1,true)" action="RunPlugin(plugin://script.module.magneto/?action=undesirablesSelect)" />
        <setting type="action" label="Define Extra Undesirables (Comma Separated)" subsetting="true" enable="eq(-2,true)" action="RunPlugin(plugin://script.module.magneto/?action=undesirablesInput)" />
        <setting type="action" label="Remove Extra Undesirables" subsetting="true" enable="eq(-3,true)" action="RunPlugin(plugin://script.module.magneto/?action=undesirablesUserRemove)" />
        <setting type="action" label="Clear ALL Extra Undesirables" subsetting="true" enable="eq(-4,true)" action="RunPlugin(plugin://script.module.magneto/?action=undesirablesUserRemoveAll)" />
    <setting type="action" label="[COLOR firebrick]-- undesirables filter Help --[/COLOR]" action="RunPlugin(plugin://script.module.magneto/?action=ShowHelp&amp;name=undesirablesFilter)" />
</category>

<category label="Health"> <!-- Health -->
    <setting type="action" label="Test All Torrent Providers" action="RunPlugin(plugin://script.module.magneto/?action=healthCheck)" />
    <setting type="sep" />
    <setting type="action" label="Clean Settings file" option="close" action="RunPlugin(plugin://script.module.magneto/?action=cleanSettings)" />
    <setting type="action" label="Show Changelog" action="RunPlugin(plugin://script.module.magneto/?action=ShowChangelog)" />
    <setting type="sep" />
    <setting id="debug.enabled" type="bool" label="Enable Debug" default="false" />
    <setting id="debug.location" type="enum" label="Logging Location" default="0" values="Kodi Log|Addon Log" enable="eq(-1,true)" />
    <setting id="debug.reversed" type="bool" label="Write Magneto log in reverse order" default="false" visible="eq(-2,true)+eq(-1,1)" />
    <setting type="action" label="Clear Magneto log file" visible="eq(-3,true)+eq(-2,1)" action="RunPlugin(plugin://script.module.magneto/?action=tools_clearLogFile)" />
    <setting type="action" label="View Magneto log file" visible="eq(-4,true)+eq(-3,1)" action="RunPlugin(plugin://script.module.magneto/?action=tools_viewLogFile&amp;name=Magneto)" />
    <setting type="action" label="Upload Magneto log file to pastebin" visible="eq(-5,true)+eq(-4,1)" action="RunPlugin(plugin://script.module.magneto/?action=tools_uploadLogFile)" />
</category>

</settings>
